<!DOCTYPE html>
<html>
<head>
    <title>New Forum reply for the topic in the Forum: {{ topic_title }}</title>
</head>
<body>
    <h2>New Forum Reply</h2>
    <p>Dear {{ user_name }},</p>
    <p>There is a new reply to a forum topic you participated on GymBuddy! Here is the information about this reply:</p>
    <p><strong>Topic Title:</strong> {{ topic_title }}</p>
    <p><strong>Replier Name:</strong> {{ topic_replier_name }}</p>
    <p><strong>Message:</strong> {{ message }}</p>
</body>
</html>